@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lilita+One&family=Montserrat:wght@500&family=Poppins:wght@500&display=swap');

html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    
}

.main{
    width: 100vw;
    height: 100vh;     
}
.nav{
    width: 100vw;
    height: 100px;
    padding: 0vw 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #dadada ; 
    
}
.nav2{
    display: flex;
    gap: 3vw;
}
.nav h2{
    font-size: 2vw;
    font-weight: 800;
}
.nav2 a{
    text-decoration: none;
    font-size: 1vw;
    font-weight: 700;
    color: black;
}
.nav2 a:hover{
    color : #FF735C;
    transition: 0.5s;
}
.nav2 i{
    font-size: 1.4vw ;
    font-weight: 900;
    display: none;
}
.content{
    width: 100vw;
    height: calc(100% - 100px);
    
    display: flex;
    

}
.left{
    width: 55%;
    height: 100% ; 
    padding: 5vw 4vw;
    
    
}
.left h1{
    font-size: 3.8vw;
    line-height: 4.4vw;
}
.left h2{
    font-size: 3vw ;
    color : #FF735C;
}
.left p{
    font-size: 1.2vw;
    font-weight: 600;
    width: 80%;
    color: #666;
    padding: 1.5vw 0vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

button{
    font-size: 1vw;
    padding: 1vw 1.5vw;
    background-color: #FF735C;
    color:#fff;
    border: none;
    font-weight: 700;
    border-radius: 5px;
}
.left #btr{
    color: lightseagreen;
}
.left #typing{
    color: black;
}
.right{
    width: 45%;
    height: 100%;
     
}

.nav button a{
    color: white;
}
.left #smallh1 h1{
    font-size: 2vw;
}
.right img{
    height: 40vw;
}
.topbtn{
    height: 2vw;
    width: 6vw;
    margin-top: -0.5vw;
    padding: 0vw 0.2vw;
    cursor: pointer;
}

.about{
    width: 100vw;
    height: 100vh;
    padding: 1.5vw 0vw;
    
}
.about h1{
   
    font-size: 2.5vw;
    padding-top: 0.5vw;
    padding-bottom: 1vw;
    border-bottom: 2px solid #dadada ; 
    text-align: center;
    
    
}

/* Style the first <span> tag in lightseagreen */
/* Style the <span> elements within .about in lightseagreen */
.about span {
    color: lightseagreen;
}

/* Style the <span> elements within .box1 in orange */
.box1 span:first-child{
    color: #FF735C;
}


.box1{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    
}
.box1 .leftContent{
    width: 50%;
}
.box1 .leftContent img{
    width: 85%;
    margin: 5vw 4vw;
    scale: 1;
}
.box1 .rightContent{
    padding: 2vw 5vw;
    width: 50%;
}
.box1 p{
    font-size: 1.5vw;
    font-weight: 600;
    width: 95%;
    color: #666;
    padding: 1.5vw 0vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}


@media (max-width:600px) {
    .nav{
        height: 80px;
        padding: 0px 6vw;
        
    }
    .topbtn{
        display: none;
    }
    .nav h2{
        font-size: 5vw;
        padding: 0vw 0.5vw;
    }
    .nav2 a{
        color: white;
        display: none;
    }
    .nav2 i{
        display:block;
        font-size: 5vw;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
    .left{
        width: 100%;
        height: 50%;
        padding: 10vw 5vw;
    }
    .right{
        width: 95%;
        height: 50%;
    }
    .left h1{
        font-size: 10vw;
        line-height: 11vw;
    }
    .left p{
        font-size: 4vw;
        width: 100%;
    }
    .left h2{
        font-size: 8vw;
        padding-top: 2vw;
        width: 100%;
    }
    .left button{
        font-size: 4vw;
        border-bottom: 8vw;
        border: none;
    }

    .right img{
        height: 100vw;
        margin-top: 10vw;
        padding: 15vw 11vw 3vw 6vw;
        

    }

    
    

}