@import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Lilita+One&family=Montserrat:wght@500&family=Poppins:wght@500&display=swap');

html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-family: 'Noto Sans', sans-serif;
    
}
body{
    background-color: #202122;
}

.main{
    width: 100vw;
    height: 100vh;     
}
.nav{
    width: 100vw;
    height: 100px;
    padding: 0vw 4vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #dadada ; 
    
}
.nav2{
    display: flex;
    gap: 3vw;
}
.nav h2{
    font-size: 2vw;
    font-weight: 800;
}
.nav2 a{
    text-decoration: none;
    font-size: 1vw;
    font-weight: 700;
    color: #FFFFFF;
}
.nav2 a:hover{
    color: #FFB219;
    transition: 0.5s;
}
.nav2 i{
    font-size: 1.4vw ;
    font-weight: 900;
    display: none;
}
.content{
    width: 100vw;
    height: calc(100% - 100px);
    
    display: flex;
    

}
.left{
    width: 55%;
    height: 100% ; 
    padding: 5vw 4vw;
    
    
}
.left h1{
    font-size: 3.8vw;
    line-height: 4.4vw;
    color: #E0E0E0;
}
.left h2{
    font-size: 3vw ;
    color : #FFB219;
}
.left p{
    font-size: 1.2vw;
    font-weight: 600;
    width: 80%;
    color: #E0E0E0;
    padding: 1.5vw 0vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

button{
    font-size: 1vw;
    padding: 1vw 1.5vw;
    background-color: #FFB219;
    color: black;
    border: none;
    font-weight: 700;
    border-radius: 5px;
}
.left #btr{
    color: #FFB219;
}
.left #typing{
    color: #E0E0E0;
}
.right{
    width: 45%;
    height: 100%;
     
}

.nav button a{
    color: black;
}
.left #smallh1 h1{
    font-size: 2vw;
}

.topbtn{
    height: 2vw;
    width: 6vw;
    margin-top: -0.5vw;
    padding: 0vw 0.2vw;
    cursor: pointer;
    outline: none;
}


/* css for the second div  */
.second{
    width: 100%;
    height: 85vh;
   
    
}
.second img{
    width: 100%;
}

/* css for third content  */

@import url('https://fonts.googleapis.com/css2?family=Akshar:wght@300..700&display=swap');
                    
.about{
    width: 100%;
    height: 100vh;
    /* background-color: aqua; */
    display: flex;
}

.rightContent{
    width: 50%;
    height: 120vh;
    /* background-color: lightblue; */
    font-family: "Akshar", sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 38px;
    
}
#star{
    margin-left: -36rem;
}
.rightContent div{
    margin-top: 5rem;
    color: white;
}
.leftContent{
    width: 50%;
    height: 120vh;
    /* background-color: rgb(207, 11, 28); */
    /* display: flex;
    flex-direction: column;    */
    align-items: center;             
    

}

.leftContent img{
    margin-top: -19.3rem;
    z-index: -1;
    position: relative;
    top: 0;
    left: 0;
    z-index: -1; /* Ensure the image is behind the text */

}

.leftContent .insideimg {
    position: relative; /* Ensure the text stays on top of the image */
    bottom: 60vw;
    display: flex;
    flex-direction: column;
    left: 20rem;

    
}

.insideimg h1{
    font-size: 5rem;
    color: white;
    font-weight: 800;
}

.insideimg .insidetxt{
    background-color: #FFB219;
    width: 10rem;
    padding-top: 1rem;
    

}

.highlight_txt{
    background-color: #FFB219;
    width: 14rem;
    padding-top: 1rem;
    
    
}


.insideimg div h1{
    color: black;
}

.insideimg .wedo{
        width: 90%;
        position: absolute;
        top: 45rem;
        left: -16rem;
        font-size: 40px;
        color: white;
    }


.btm_div h1{
    font-weight: 800;
}
.rightContent .btm-text{
    margin-top: 10rem;
    margin-left: 10rem;
    /* background-color: blue; */


}
.btm-text img{
    margin-left: 10rem;
}



/* Css for Having Issue Part */













/* Css for Footer Part  */

.footer{
    width: 100%;
    height: 40%;
    background-color: #FFB219;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;
}
.footer .top{
    width: 90%;
    height: 50%;
    margin-top: 1rem;
    display: flex;

}

.top div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    font-weight: 700;
}
.footer .middle{
    width: 70%;
    height: 2px;
    background-color: #3E4550;
}
.footer .last{
    width: 90%;
    height: 10%;
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}









@media (max-width:600px) {
    .nav{
        height: 80px;
        padding: 0px 6vw;
        
    }
    .topbtn{
        display: none;
    }
    .nav h2{
        font-size: 5vw;
        padding: 0vw 0.5vw;
    }
    .nav2 a{
        color: white;
        display: none;
    }
    .nav2 i{
        display:block;
        font-size: 5vw;
    }
    .content{
        flex-direction: column;
        align-items: center;
    }
    .left{
        width: 100%;
        height: 50%;
        padding: 10vw 5vw;
    }
    .right{
        width: 95%;
        height: 50%;
    }
    .left h1{
        font-size: 10vw;
        line-height: 11vw;
    }
    .left p{
        font-size: 4vw;
        width: 100%;
    }
    .left h2{
        font-size: 8vw;
        padding-top: 2vw;
        width: 100%;
    }
    .left button{
        font-size: 4vw;
        border-bottom: 8vw;
        border: none;
    }

    .right img{
        height: 100vw;
        margin-top: 10vw;
        padding: 15vw 11vw 3vw 6vw;
        

    }

    
    

}