@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgba(67,96,239,255)

}

.main{
    width: 96vw;
    height: 90vh;
    background-color: rgba(246,246,246,255);
    margin: 50px 30px;
    border-radius: 34px;
}

.nav-left{
    
    position:relative;
    width: 50%;
    height: 3rem;
    margin:50px 10px;
    padding: 20px;
    top: 3rem;
    left: 7rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.nav-left  ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    
}
.nav-left li{
    margin-left: 3.5rem;
}

.nav-right{
    
    position:absolute;
    right: 20rem;
    top:8rem;
    width: 20rem;
    height: 3rem;
    
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.nav-right ul{
    display: flex;
    text-decoration: none;
    list-style: none;
}
.nav-right li{
    margin-left: 3.5rem;
}

li:hover{
    color: rgba(67,96,239);
    font-weight: 800;
    font-size: 1.1rem;
    transition: 0.4s ease-in-out;
}

.nav-right li button{
    width: 100px;
    height: 40px;
    border-radius: 18px;
    background-color: rgba(255,255,254,255);
    color: rgba(67,96,239);
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    position: relative;
    top: -7px;
    font-size: 1rem;
    

    

}

.main-form{
    width: 30rem;
    height: 30rem;
    position: absolute;
    right: 23rem;
    
    
}
.main-form a {
    text-decoration: none;
    color: grey;
    width: 100px;
    font-family: 'Montserrat', sans-serif;
    margin-left: 50px;
}
form{
    padding: 13rem 5rem;
}
form input[type = "text"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 17px;
    font-size: 17px;
    border: none;
    border-radius: 6px;
    font-weight: 600;
    background-color: rgba(233,240,248,255);
}
form input[type = "password"]{
    width: 100%;
    padding: 10px;
    margin-bottom: 17px;
    font-size: 17px;
    border: none;
    font-family: 'Montserrat', sans-serif;
    border-radius: 6px;
    font-weight: 600;
    background-color: rgba(233,240,248,255);
}


form input[type="submit"]{
    width:107%;
    margin-top: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    background-color: rgba(69,97,241,255);
    color: white;
    font-size: 1rem;
    font-weight: 900;
    height: 50px;
    box-shadow: inset;
}